@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************/
/* resets */
/*******************/

input:focus,
input:active,
textarea:focus,
textarea:active {
  @apply outline-none border-neutral-700;
}

button:focus,
button:active {
  @apply outline-none;
}

* {
  @apply select-none cursor-none;
}
