@tailwind base;
@tailwind components;
@tailwind utilities;

/*******************/
/* resets */
/*******************/

* {
  @apply transition-colors duration-300;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
  @apply outline-none border-neutral-300 dark:border-neutral-700;
}

button:focus,
button:active {
  @apply outline-none;
}

/*******************/
/* animation */
/*******************/

.animate-in {
  animation: animate-in 0.3s;
}
@keyframes animate-in {
  0% {
    top: 10px;
    opacity: 0.5;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
